<div class="row">
	<div class="col-md-12">
		<h3 class="description">LISTAGEM DE CATEGORIAS</h3>
	</div>
</div>

<div class="card">
	<div class="card-header">
		<div class="float-left">
			<h4>Categorias</h4>
		</div>
		<div class="float-right">
			<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#filtroModal">Filtrar
				categorias</button>

			<button type="button" id="buscarTodasCategorias" (click)="buscarCategorias($event)" class="btn btn-success">Buscar todas as
				categorias</button>
			&nbsp;
			<label for="limit">Linhas por pagina:</label>
			<select name="limit" id="limit" [(ngModel)]="limit" (change)="buscarCategorias()">
				<option value="11">10</option>
				<option value="21">20</option>
				<option value="31">30</option>
				<option value="41">40</option>
			</select>
		</div>
	</div>

	<div class="card-body">
		<!-- <table class="table table-hover" *ngIf="categoria$ | async as categorias; else loading"> -->
		<table class="table table-hover" *ngIf="categorias$; else loading">
				<thead *ngIf="linhas > 0; else semDados">
					<tr>
						<th>Grupo</th>
						<th>Nome</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let categoria of categorias$">
						<!-- categoria?.result -->
						<td>{{ categoria.grupo }}</td>
						<td>{{ categoria.nome }}</td>
						<td>
							<span class="float-right">
								<button class="btn btn-warning mb-1 btn-sm" data-bs-toggle="modal"
									data-bs-target="#updateModal" (click)="onSelect(categoria)">Editar</button>
								<button class="btn btn-danger mb-1 btn-sm" data-bs-toggle="modal"
									data-bs-target="#deleteModal" (click)="onSelect(categoria)">Remover</button>
							</span>
						</td>
					</tr>

				</tbody>
				<tfoot class="grey lighten-5 w-100">
					<tr>
						<td colspan="4">
							<nav aria-label="Navegação de página">
								<ul class="pagination">
									<li class="page-item">
										<a class="page-link" *ngIf="page > 0" aria-label="Anterior">
											<span aria-hidden="true">&laquo;</span>
											<span class="sr-only">Anterior</span>
										</a>
									</li>
									<li class="page-item" *ngIf="page > 0"><a class="page-link"
											(click)="paginacao(-1)">{{page}} </a></li>
									<li class="page-item"><a class="page-link">{{ page + 1 }}</a></li>
									<li class="page-item" *ngIf="nextPage === true"><a class="page-link"
											(click)="paginacao(1)">{{page + 2}} </a></li>
									<li class="page-item" *ngIf="nextPage === true">
										<a class="page-link" aria-label="Próximo">
											<span aria-hidden="true">&raquo;</span>
											<span class="sr-only">Próximo</span>
										</a>
									</li>
								</ul>
							</nav>
						</td>
					</tr>
				</tfoot>

		</table>

		<ng-template #loading>
			<span>Carregando Produtos...</span>
		</ng-template>

		<ng-template #semDados>
			<span>Sem dados</span>
			<hr>
		</ng-template>
	</div>
</div>

 <app-categorias-modal-excluir [categoria]="categoriaSelecionada" (eventEmitter)="buscarCategorias($event)" *ngIf="categoriaSelecionada">
</app-categorias-modal-excluir>

<app-categorias-modal-editar [categoria]="categoriaSelecionada" (atualizarLista$)="buscarCategorias($event)" *ngIf="categoriaSelecionada">
</app-categorias-modal-editar>

<app-categorias-modal-filtrar (eventEmitter)="buscarCategorias()"></app-categorias-modal-filtrar>