<div class="modal fade" id="updateModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
	aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="staticBackdropLabel">Editar categoria</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form class="formulario" id="formCadastrar">
					<label for="grupo_editar">Grupo: </label>
					<input type="text" [(ngModel)]="categoria.grupo" id="grupo_editar" name="grupo_editar">
                    <br>
                    <br>
					<label for="nome_editar">Nome: </label>
					<input type="text" [(ngModel)]="categoria.nome" id="nome_editar" name="nome_editar">
					<br>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-primary" data-bs-dismiss="modal"
					(click)="onConfirmUpdate()">Atualizar</button>
			</div>
		</div>
	</div>
</div>